*{
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 90px auto;
    grid-template-rows: 60px auto;
    grid-template-areas:"header header"
                        "nav main";
    transition: all .3s ease;
}
.header{
    grid-area: header;
}
.active{
    grid-template-columns: 300px auto;
}