*{
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 90px auto;
    grid-template-rows: 60px auto;
    grid-template-areas:"header header"
                        "nav main";
    transition: all .3s ease;
}
button{
    outline:none;
    }
.header{
    grid-area: header;
}
.project{
    margin: 8px 0;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 10px;
}
.active{
    grid-template-columns: 300px auto;
}
.ajuste{
    max-width: 200px;
}

.nav-container{
    display: grid;
    grid-template-columns: 90px auto;
    overflow: hidden;
}
.nav p{
    display: block;
    min-width: 800px;
}
.nav > div{
    display: block;
    min-width: 800px;
}
.nav i{
    padding: 20px 35px;
}
.items-project p{
    padding-bottom: 10px;
    margin-left: 105px;
}
.items-active{
    display: none;
}

.line:hover{
    transition: all .5s ease-out;
    box-shadow: 5px 0 0 #a0aec0 inset,
                300px 0 0 #cbd5e0 inset;
}